<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <buckets.fillItem>
        <processor type="Sitecore.Support.Buckets.Pipelines.UI.FillItem.SetItemProperties, Sitecore.Support.178992" patch:i="*[@type='Sitecore.Buckets.Pipelines.UI.FillItem.SetItemProperties, Sitecore.Buckets']"/>
      </buckets.fillItem>
      <!-- DYNAMIC QUICK ACTION PIPELINE
           Pipeline for injecting Dynamic Quick Actions into the SitecoreItem object. Useful for content authoring.
      -->
      <buckets.dynamicQuickActions>
        <!--<processor type="Sitecore.Buckets.Pipelines.UI.QuickActions.ShowCloneSource, Sitecore.Buckets"/>
        <processor type="Sitecore.Buckets.Pipelines.UI.QuickActions.ShowTranslate, Sitecore.Buckets"/>
        <processor type="Sitecore.Buckets.Pipelines.UI.QuickActions.ShowWorkflowCommands, Sitecore.Buckets"/>
        <processor type="Sitecore.Buckets.Pipelines.UI.QuickActions.ShowInsertOptions, Sitecore.Buckets"/>-->
      </buckets.dynamicQuickActions>

      <!-- DYNAMIC UI SEARCH FIELD PIPELINE
           Pipeline to Inject Dynamic Values into the SitecoreItem object. Useful for content authoring and delivery environment 
      -->
      <buckets.dynamicFields>
        <processor type="Sitecore.Support.Buckets.Pipelines.UI.DynamicFields.FetchDynamicFieldValues, Sitecore.Support.178992"/>
        <!-- Allows users to place "IsLocked" in their views and show whether an item is locked or not. -->
        <processor type="Sitecore.Support.Buckets.Pipelines.UI.DynamicFields.IsLocked, Sitecore.Support.178992"/>
        <!-- Will allow users to place "Tags" in their views and show the items tags from the __semantics field-->
        <processor type="Sitecore.Support.Buckets.Pipelines.UI.DynamicFields.ItemTags, Sitecore.Support.178992"/>
      </buckets.dynamicFields>
    </pipelines>
  </sitecore>
</configuration>